Notebook for preprocessing anli datasets.

In [1]:
import os
import json
from os.path import join as oj
import pandas as pd
from tqdm import tqdm
from collections import defaultdict

Download the raw NLI data

In [1]:
!git clone https://github.com/allenai/natural-instructions.git

fatal: destination path 'natural-instructions' already exists and is not an empty directory.

List of tasks is available here: https://github.com/allenai/natural-instructions/blob/master/tasks/README.md

**Choose some tasks**
- The ideal task for inverting has a description that isn't something generic like "Answer the true or false question."
- Example of nice tasks
  - Given a country, return it's currency
  - Given an item, check if it is edible or not
- Constraints
  - The task description (or atleast its keyword) should not be present in the examples (e.g. this is the case for `task109_smsspamcollection_spamsmsdetection`).
  - If they are, then rename the labels in the output.

In [7]:
TASK_NAMES = [
    # cleanest tasks ############
    'task1146_country_capital',
    'task1509_evalution_antonyms', # Given a word generate its antonym	
    'task1147_country_currency',
    'task1149_item_check_edible',
    'task183_rhyme_generation', # Given an input word, generate a list of words that rhyme exactly with the input.	
    'task1191_food_veg_nonveg', # Given the name of an indian dish, classify it as non vegetarian or a vegetarian dish	

    # overlaps with arithmetic ############
    'task092_check_prime_classification', # Identify whether the number is prime or not.	    

    # a little repetitive ############
    # 'task1321_country_continent', # Given a country name, return the continent name of the given country
        
    # phrasing a little long ############
    'task088_identify_typo_verification', # Identify the typo in a sentence
    # 'task609_sbic_potentially_offense_binary_classification',
    # 'task063_first_i_elements',	# Given a list return the first i elements of the list
    # 'task064_all_elements_except_first_i', # Given a list return all the elements of the list except the first i elements	
    # 'task123_conala_sort_dictionary', # Sort a list of dictionaries based on a given key.	

    # artificially easy (answers give some hint of the keyword) ############
    'task1336_peixian_equity_evaluation_corpus_gender_classifier', # Classifying gender of speaker of sentence	   
    'task107_splash_question_to_sql', # Generate an SQL statement from a question asking for certain data.
    # 'task1506_celebrity_minimal_dob_span', # Find the date of birth of a celebrity given a sentence bio	
    # 'task114_is_the_given_word_longest', # Identify whether the word is the longest in the sentence. -- note: the phrasing contains the task descr in the middle

    # task is very hard to infer ############
    # 'task430_senteval_subject_count',
    # 'task429_senteval_tense',
]
TASK_MODIFICATIONS = {
    # This one just had unnatural phrasing
    'task1149_item_check_edible': {
        'description': 'Return whether the input item is edible (yes or no).',
        'output_remap': {
            '1': 'yes',
            '2': 'no',
        }
    },

    # Fix examples that give away the answer
    'task1191_food_veg_nonveg': {
        'description': 'Return whether the input food dish is vegetarian (yes or no).',
        'output_remap': {
            'vegetarian': 'yes',
            'non vegetarian': 'no',
        }    
    },
    'task1336_peixian_equity_evaluation_corpus_gender_classifier': {
        'description': 'Return the gender of the person in the input sentence.',
        'output_remap': {
            'male': 'M',
            'female': 'F',
        }    
    },    
}
task_defs = {}
metadata = defaultdict(list)
nli_tasks_dir = '/home/chansingh/interpretable-autoprompting/data_utils/natural-instructions/tasks'
out_dir = '/home/chansingh/interpretable-autoprompting/data_utils/anli_processed'
os.makedirs(out_dir, exist_ok=True)

# read in task brief
tabs = pd.read_html('https://github.com/allenai/natural-instructions/blob/master/tasks/README.md')
tab = tabs[0]
task_defs_brief = {}
for task_name in sorted(TASK_NAMES):

    # brief task descr
    row = tab[tab.Name == task_name]
    # print(row)
    task_defs_brief[task_name] = row.Summary.values[0]

    task_json_file = oj(nli_tasks_dir, task_name + '.json')
    task = json.load(open(task_json_file, 'r'))
    task_def = task['Definition'][0]
    df = pd.DataFrame.from_dict(task['Instances'])
    df = df.drop(columns='id')
    df['output'] = df['output'].apply(lambda x: x[0])

    # modify some tasks    
    if task_name in TASK_MODIFICATIONS:
        mod = TASK_MODIFICATIONS[task_name]
        task_def = mod['description']
        if 'output_remap' in mod:
            df['output'] = df['output'].map(mod['output_remap'])

    
    df['text'] = 'Input: ' + df['input'] + ' Answer: ' + df['output'] + '\n'
    print(task_name, '\n' + task_def)
    print('brief:', task_defs_brief[task_name])
    print(df.iloc[0].text)
    print(df['output'].value_counts())
    task_defs[task_name] = task_def
    df.to_csv(oj(out_dir, task_name + '.csv'), index=False)

    
json.dump(task_defs, open(oj(out_dir, 'task_defs.json'), 'w'), indent=4)
json.dump(task_defs_brief, open(oj(out_dir, 'task_defs_brief.json'), 'w'), indent=4)

task088_identify_typo_verification
The given sentence contains a typo which could be one of the following four types: (1) swapped letters of a word e.g. 'niec' is a typo of the word 'nice'. (2) missing letter in a word e.g. 'nic' is a typo of the word 'nice'. (3) extra letter in a word e.g. 'nicce' is a typo of the word 'nice'. (4) replaced letter in a word e.g 'nicr' is a typo of the word 'nice'. You need to identify the typo in the given sentence. To do this, answer with the word containing the typo.
brief: Identify the typo in a sentence.
Input: The karge motorcycle has been painted white and light blue. Answer: karge

ma          108
mabn        105
mab          90
None         76
mna          74
           ...
Lugfage,      1
Mulitple      1
Scebne        1
kier          1
shrtless      1
Name: output, Length: 3046, dtype: int64
task092_check_prime_classification
In this task, you need to output 'Yes' if the given number is a prime number otherwise output 'No'. A 'prime number' is a a whole number above 1 that can not be made by multiplying other whole numbers.
brief: Identify whether the number is prime or not.
Input: 95736 Answer: No

No     3272
Yes    3228
Name: output, dtype: int64
task107_splash_question_to_sql
In this task you are expected to write an SQL query that will return the data asked for in the question. An SQL query works by selecting data from a table where certain conditions apply. A table contains columns where every row in that table must have a value for each column. Every table has a primary key that uniquely identifies each row, usually an id. To choose which columns are returned you specify that after the "SELECT" statement. Next, you use a "FROM" statement to specify what tables you want to select the data from. When you specify a table you can rename it with the "AS" statement. You can reference that table by whatever name follows the "AS" statement. If you want to select data from multiple tables you need to use the "JOIN" statement. This will join the tables together by pairing a row in one table with every row in the other table (Cartesian Product). To limit the number of rows returned you should use the "ON" statement. This will only return rows where the condition specified after the statement is true, this is usually an equals operator with primary keys. You can also use the "WHERE" statement to specify that only rows with column values statisfying a certain condition, should be returned. The "GROUP BY" statement will group rows together that have equal column values for whatever columns follows the statement. The "HAVING" statement will return groups that statisfy whatever condition follows the statement. Any column(s) being returned from grouped rows must either be an aggregate function, (AVG, MAX, COUNT, SUM, ...) of a column, or the column(s) that the data was grouped by. To sort the returned data you can use the "ORDER BY" command which will order the data by whatever aggregate function or column follows the statement. The "DESC" statement will sort in descending order and the "ASC" statement will sort in ascending order. Finally, you can use the "LIMIT" statement to return a certain number of rows. When "*" is used in an SQL statement every column is returned. For example, SELECT * FROM table WHERE attribute = 1, will select every column from rows with the attribute column equal to 1.
brief: Generate an SQL statement from a question asking for certain data.
Input: What is the average and the maximum capacity of all stadiums? Answer: SELECT avg(capacity) ,  max(capacity) FROM stadium

SELECT avg(capacity) ,  max(capacity) FROM stadium                                                                                                                                                                                                                                           1
SELECT roomName FROM Rooms ORDER BY basePrice                                                                                                                                                                                                                                                1
SELECT T1.fault_short_name ,  T3.skill_description FROM Part_Faults AS T1 JOIN Skills_Required_To_Fix AS T2 ON T1.part_fault_id  =  T2.part_fault_id JOIN Skills AS T3 ON T2.skill_id  =  T3.skill_id                                                                                        1
SELECT DISTINCT Fname FROM STUDENT WHERE Fname LIKE '%a%'                                                                                                                                                                                                                                    1
SELECT T1.staff_name ,  T1.staff_id FROM Staff AS T1 JOIN Fault_Log AS T2 ON T1.staff_id  =  T2.recorded_by_staff_id EXCEPT SELECT T3.staff_name ,  T3.staff_id FROM Staff AS T3 JOIN Engineer_Visits AS T4 ON T3.staff_id  =  T4.contact_staff_id                                           1
                                                                                                                                                                                                                                                                                            ..
SELECT T1.age FROM Person AS T1 JOIN PersonFriend AS T2 ON T1.name  =  T2.friend WHERE T2.name =  'Zach' AND T2.year  =  (SELECT max(YEAR) FROM PersonFriend WHERE name =  'Zach')                                                                                                           1
SELECT T1.fault_description ,  T2.fault_status FROM Fault_Log AS T1 JOIN Fault_Log_Parts AS T2 ON T1.fault_log_entry_id  =  T2.fault_log_entry_id                                                                                                                                            1
SELECT T2.theme FROM exhibition_record AS T1 JOIN exhibition AS T2 ON T1.exhibition_id  =  T2.exhibition_id WHERE T1.attendance  <  100 INTERSECT SELECT T2.theme FROM exhibition_record AS T1 JOIN exhibition AS T2 ON T1.exhibition_id  =  T2.exhibition_id WHERE T1.attendance  >  500    1
SELECT t2.claim_status_name FROM claims_processing AS t1 JOIN claims_processing_stages AS t2 ON t1.claim_stage_id  =  t2.claim_stage_id GROUP BY t1.claim_stage_id ORDER BY count(*) DESC LIMIT 1                                                                                            1
SELECT Festival_Name FROM festival_detail ORDER BY YEAR DESC LIMIT 3                                                                                                                                                                                                                         1
Name: output, Length: 2031, dtype: int64
task1146_country_capital
In this task, you are given a country name and you need to return the capital city of the given country
brief: Given a country, return it's capital city
Input: Afghanistan Answer: Kabul

London                 2
Victoria               2
Kingston               2
Kabul                  1
Ciudad de Panam        1
                      ..
Saint George's         1
Basse-Terre            1
Aga                    1
Ciudad de Guatemala    1
Harare                 1
Name: output, Length: 228, dtype: int64
task1147_country_currency
You are given a country name and you need to return the currency of the given country.
brief: Given a country, return it's currency
Input: Afghanistan Answer: Afghanistan Afghani

Euro                     24
US Dollar                 8
East Caribbean Dollar     7
CFA Franc BCEAO           7
Australian Dollar         7
                         ..
East Carribean Dollar     1
Guatemalan Quetzal        1
Guinea Franc              1
Guinea-Bissau Peso        1
Zimbabwe Dollar           1
Name: output, Length: 162, dtype: int64
task1149_item_check_edible
Return whether the input item is edible (yes or no).
brief: Given an item, check if it is edible or not
Input: sink Answer: no

no     70
yes    49
Name: output, dtype: int64
task1191_food_veg_nonveg
Return whether the input food dish is vegetarian (yes or no).
brief: Given the name of an indian dish, classify it as non vegetarian or a vegetarian dish
Input: Butter chicken Answer: no

yes    76
no     25
Name: output, dtype: int64
task1336_peixian_equity_evaluation_corpus_gender_classifier
Return the gender of the person in the input sentence.
brief: Classifying gender of speaker of sentence
Input: The situation makes Lamar feel ecstatic. Answer: M

M    3250
F    3250
Name: output, dtype: int64
task1509_evalution_antonyms
In this task, you are given an adjective, and your job is to generate its antonym. An antonym of a word is a word opposite in meaning to it.
brief: Given a word generate its antonym
Input: abstract Answer: concrete

work        8
small       7
destroy     6
walk        5
water       5
           ..
player      1
sit down    1
son         1
mortal      1
retire      1
Name: output, Length: 372, dtype: int64
task183_rhyme_generation
Given an input word generate a word that rhymes exactly with the input word. If not rhyme is found return "No"
brief: Given an input word, generate a list of words that rhyme exactly with the input.
Input: the Answer: le

No         29
pooh       15
glee       12
jai        12
pour       10
           ..
gravel      1
fable       1
mix         1
glisten     1
wreath      1
Name: output, Length: 578, dtype: int64